#result{
    display: none;
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

#shareResult{
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

#resultName{
    font-size: 26px;
}

#resultDesc{
    font-size: 22px;
}

.kakao{
    background-color: #FEE500;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

.kakao:hover, .kakao:focus{
    background-color: whitesmoke;
    color: #FEE500; 
}